body
{
    background-color: dodgerblue;
}

h1
{
    color:brown;
    background-color: darkkhaki;
}

#show_sketch
{
    float:right;
}

canvas
    {
        border: 5px ridge blue;
        border-radius: 20px;
        animation-name: animation1;
        animation-duration: 5s;
        margin-top: 125px;
        animation-iteration-count: infinite;
    }
@keyframes example {
    from {box-shadow: 1px 1px 38px blue;}
    to {box-shadow: 1px 1px 38px grey}
}

p
{
    padding-top: 10px;
    font-size: 25px;
}